*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

/* Header */
header{
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header img{
    height: 10%;
    width: 10%;
}
header a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #fff;
    padding: 5px 10px;
}